
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
<div>Добро пожаловать!</div> }
else
{
<div class="row">
    <div class="side">
        <div class="center" style="text-align:center">
            <h1> Регистрируйтесь в нашем блоке и читайте статьи про котов</h1>
            <img class="main-img" src="https://pngimg.com/uploads/cat/cat_PNG50511.png" />
        </div>
    </div>
</div>}