<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
	<targets>
		<target xsi:type="File" name="main" fileName="C:\Users\rekla\OneDrive\Desktop\Новая папка\MyBlog\Log\nlog-main-${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="error" fileName="C:\Users\rekla\OneDrive\Desktop\Новая папка\MyBlog\Log\nlog-Error-${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="allfile" fileName="C:\Users\rekla\OneDrive\Desktop\Новая папка\MyBlog\Log\nlog-allfile-${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="database" fileName="C:\Users\rekla\OneDrive\Desktop\Новая папка\MyBlog\Log\nlog-database-${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>
	<rules>
		<logger name="*" minlevel ="Trace" writeTo="allfile"/>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" maxlevel="warn" writeTo="main" />
		<logger name="*" minlevel="warn" writeTo="error" />
		<logger name="*" minlevel ="Trace" writeTo="ownFile"/>
	</rules>
</nlog>