@model MyBlog.Domains.ViewModels.RegisterViewModel

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h3>Регистрация пользователя</h3>
        </p>

        <div class="row">
            <div class="col-md-8">
                <form asp-action="Register" asp-controller="Account">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control">
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordReg" class="control-label"></label>
                        <input asp-for="PasswordReg" class="form-control" />
                        <span asp-validation-for="PasswordReg" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Зарегистрироваться" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}